<div class="main-container">
    <div class="left-container">
        <h4 class="stat-title">My Skills</h4>
        <div class="progress-bars">
            <div class="progress-bar">
                <p class="prog-title">html5</p>
                <div class="progress-con">
                    <p class="prog-text">80%</p>
                    <div class="progress">
                        <span class="html"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">css3</p>
                <div class="progress-con">
                    <p class="prog-text">70%</p>
                    <div class="progress">
                        <span class="css"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">javascript</p>
                <div class="progress-con">
                    <p class="prog-text">80%</p>
                    <div class="progress">
                        <span class="js"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Node.Express.js</p>
                <div class="progress-con">
                    <p class="prog-text">60%</p>
                    <div class="progress">
                        <span class="nodeExpress"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">React.js</p>
                <div class="progress-con">
                    <p class="prog-text">40%</p>
                    <div class="progress">
                        <span class="reactjs"></span>
                    </div>
                </div>
            </div>
            <div class="progress-bar">
                <p class="prog-title">Angular.js</p>
                <div class="progress-con">
                    <p class="prog-text">50%</p>
                    <div class="progress">
                        <span class="angular"></span>
                    </div>
                </div>
            </div>
           
        </div>
    </div>   
    <div class="right-container">
        <div class="right-main">
            <img src="../../assets/MTA.png.port.png" class="img-tag"/>
            <img src="../../assets/UX.png.port.png" class="img-tag"/>
            <img src="../../assets/sololearn.png" class="img-tag"/>
        </div>
    </div>
</div>
