<div class="contact-div">
  <h1 class="header">Contact and work !</h1>
  <div class="social-mediaa">
    <div class="side">
      <h2 class="h2">Github:</h2>
      <div class="github med">
        <a href="https://github.com/bobevski96" target="_black"
          ><i class="fa-brands fa-github iconn"></i
        ></a>
      </div>
    </div>
    <div class="side ">
      <h2 class="h2">Linked:</h2>
      <div class="in med ">
        <a href="https://linkedin.com/in/bobevski96" target="_black"
          ><i class="fa-brands fa-linkedin-in iconn"></i
        ></a>
      </div>
    </div>
    <div class="side email side2">
      <h2 class="email">Email:</h2>
      <div class="in med classIcon">
        <i class="fa-regular fa-envelope iconn "></i>
    </div>
    <p class="adress">bobevski.boban@yahoo.com</p>
    </div>
  </div>
  <div class="last-div">
    <img src="../../assets/beni.jpg" class="beni"/>
    <p class="p1">This is Beni,he has nothing to do with this, 
      I just think he is a cool cat</p>
  </div> 

 
</div>
